<div class="center hero-unit">
	<!-- center hero-unit has special meaning in bootstrap -->
	<h1>Welcome to Tweetaround</h1>
	<h3> Type in a hashtag to see where its locations are at. </h3>

	<%= form_tag("/search", method: "get") do %>
  	<%= label_tag(:q, "Search for hashtag:") %>
  	<%= text_field_tag(:q) %>
  	<%= label_tag(:location, "Location:") %>
  	<%= text_field_tag(:location)%>
  	<br></br>
  	<%= submit_tag("Search")%>
	<% end %>

</div>