<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="center hero-unit">
	<!-- center hero-unit has special meaning in bootstrap -->
	<h1>Welcome to Tweetaround!</h1>
  <i class="fa fa-twitter fa-5x"></i>
	<h4>Type in a topic or hashtag (ex: #yolo, love, hockey)</h4>
  <h4> to see what people are talking about around the world!</h4>
  <h4>(By default: 11 cities have been chosen) </h4>

  <!--<%= link_to "Page with gmap", 'gmaps', 'data-no-turbolink' => true %> -->


  <%= form_tag({:controller => "search", :action => "index"}, {:method => "get", :'data-no-turbolink' => true}) do %>

<!--     <%= label_tag(:search, "Location:") %>
    <%= text_field_tag(:search) %> -->

  	<%= label_tag(:q, "Search for hashtag:") %>
  	<%= text_field_tag(:q) %>
  	<br></br>
  	<%= submit_tag "Search", "data-no-turbolink" => true %>
	<% end %>

</div>